pkgbase = libnvidia-container
	pkgdesc = NVIDIA container runtime library
	pkgver = 1.14.6
	pkgrel = 3
	url = https://github.com/NVIDIA/libnvidia-container
	arch = x86_64
	license = Apache-2.0
	license = GPL-3.0-or-later
	license = LGPL-3.0-or-later
	license = GPL-2.0-only
	makedepends = go
	makedepends = rpcsvc-proto
	depends = glibc
	depends = libcap
	depends = libelf
	depends = libseccomp
	depends = libtirpc
	provides = libnvidia-container-tools=1.14.6
	replaces = libnvidia-container-tools
	options = !lto
	source = libnvidia-container-1.14.6.tar.gz::https://github.com/NVIDIA/libnvidia-container/archive/refs/tags/v1.14.6.tar.gz
	source = libnvidia-container-nvidia-modprobe-550.54.14.tar.gz::https://github.com/NVIDIA/nvidia-modprobe/archive/550.54.14.tar.gz
	source = fix-makefile.patch
	b2sums = d3c526d7b04ac9cbc6b6bb63f25d4c5b17571169a6cb1a6ab9f7c1cc322a27e3a853373551682b535146914fd2eca809d02391acb458a874a7e9e5c0fc8bf459
	b2sums = 7b334877d98d0c75d5750192dea868436938852443ced14e74e59076ed4d8be9e361cdefbe48295d87bb91ac4565152ec3f3233479b3da19bb8baf8e7ef53cd6
	b2sums = 4938bdd72116a8f9f77e5a13a209e51332611ceb84d7e5e4155658023b6cd17c1a5e96a00c6809417092568c3558f9466c0a39c623cf31ba66351aafd724b5e5

pkgname = libnvidia-container
